body{width:1320px; margin:auto; font-size:20px;}
.page-title{font-size:20px; text-align:center; margin:20px 0px;}
.forms{}
.text-center{text-align:center;}
input{padding:10px; margin:10px 0px;}
#select_box{padding:10px 40px; margin:10px 0px;}